a:link {color: black}
a:visited {color: black}

code {
    background-color: #CCCCCC;
    display: block;
    padding: 5px 5px 5px 5px;
}

.rounded {
    text-decoration: none;
}

body {
    background-image:url("/images/background.png");
    font-family: Consolas, monaco, monospace;
    font-size: 10pt;
}

div#title span{
    margin: 0 20em;
}
div#content {
    width: 600px;
    margin: 0 20em;
}

div#navigation {
    float: left;
    width: 15em;
    text-align: right;
}

div#navigation a {
    margin: 0px 10px 0px 10px;
}

div#footer p{
    clear: both;
    font-size: 8pt;
    margin: 0 20em;
    padding: 3em;
}
