body {
    background-image:url("/images/background.png");
    font: 10pt "Helvetica";
    font-family: arial, helvetica, sans-serif;
}

div#blogtitle span{
    border-radius: 15px;
    -moz-border-radius: 15px;
    background-color: black;
    color: white;
    padding: 5px 5px 5px 5px;
    margin: 0 12em;
}
div#content {
    width: 600px;
    margin: 0 12em;
}

div#navigation {
    float: left;
    width: 10em;
    text-align: right;
}

div#navigation a {
    border-radius: 15px;
    -moz-border-radius: 15px;
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 3px 10px 3px 10px;
    margin: 0px 10px 0px 10px;
}

div#footer p{
    clear: both;
    color: black;
    text-decoration: none;
    font-size: 8pt;
    margin: 0 12em;
    padding: 3em;
}
